<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.pinpotha_beta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pinpotha_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pinpotha_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PinPothaBeta"
        tools:targetApi="31">

        <activity
            android:name=".ui.records.EditRecord"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.side_bar.About"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.side_bar.Help"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.side_bar.Communiuty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bottom_bar.Translate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.records.AddRecord"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.records.ViewRecord"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bottom_bar.Search"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bottom_bar.SideMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.side_bar.Settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bottom_bar.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>